.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
   
  .full-width {
    width: 100%;
  }
  .spacer {
    flex: 1 1 auto;
  }

  span {
    text-align: center;
    display: inline-block;
    width: 100%;
  }

  #forgetPassword {
    color: blue;
    margin-left: 50%;
  }

  a:hover {
    cursor: pointer;
  }