<br>
<div class="container">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<mat-card id="card" style="text-align: center;">
				<mat-card-title>
					LOGIN
				</mat-card-title>
			
				<mat-card-content>
			
					<mat-form-field appearance="fill">
						<mat-label>Enter your's Email</mat-label>
						<input matInput placeholder="Email" #username>
					</mat-form-field><br/>
			
					<mat-form-field appearance="fill">
						<mat-label>Enter your's password</mat-label>
						<input matInput placeholder="********" type="password" #password>
					</mat-form-field><br/>
					<button mat-raised-button color="primary" style="margin-right:5px;" (click)="login(username.value,password.value)">login</button>
				    <br>
					<a  id="forgetPassword" (click)="forgetPassword()" >Forget Password</a> 
					<br>
					<br>
				</mat-card-content>
				</mat-card>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>
