<mat-toolbar color="primary">
    <mat-icon (click)="toggleSidebar()" >menu</mat-icon>
    <div>Hrms</div>
    <div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>notifications</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <ul>
                <li>First Notification  &nbsp;</li>
            </ul>
          </mat-menu>   
       <button mat-icon-button aria-label="Example icon-button with a menu"  [matMenuTriggerFor]="menu1">
        <mat-icon >logout</mat-icon>
       </button> 
       <mat-menu #menu1="matMenu" >
        <button mat-menu-item (click)="changePassword()">
          <mat-icon>key</mat-icon>
          Change Password
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          Logout
        </button>
       </mat-menu>
    </div>
</mat-toolbar>