<div class="container">
   <div class="row">
   <div class="col-sm-2">

   </div>
   <div class="col-sm-8">
       <mat-card>
           <mat-card-title>Register Employees</mat-card-title>
           <mat-card-content>
               <table>
                   <tbody>    
                     <tr>
                         <td>Name</td>
                         <td>:</td>
                         <td>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Employees Name</mat-label>
                             <input type="text"  matInput>
                            </mat-form-field>
                            </td>
                     </tr>
                   </tbody>
               </table>
           </mat-card-content>
       </mat-card>
   </div>
   <div class="col-sm-2">
       
   </div>
   </div>
</div>
