<div class="container">
   <div class="row">
   <div class="col-sm-2">

   </div>
   <div class="col-sm-8">
       <mat-card>
           <mat-card-title>Register Employees</mat-card-title>
           <mat-card-content *ngIf="!bulk">
               <input type="button" id="bulk" value="Bulk Registration" class="btn-primary" (click)="bulkEnable()">
               <br>
               <br>
               <app-register-form></app-register-form>
           </mat-card-content>
           <mat-card-content *ngIf="bulk">
            <div>
                <mat-toolbar *ngIf="currentFile" class="progress-bar">
                  <mat-progress-bar color="accent" [value]="progress"></mat-progress-bar>
                  <span class="progress">{{ progress }}%</span>
                </mat-toolbar>
                <mat-form-field>
                  <div>
                    <mat-toolbar>
                      <input matInput [value]="fileName" />
                      <button
                        mat-flat-button
                        color="primary"
                        [disabled]="!currentFile"
                        (click)="upload()"
                      >
                        Upload
                      </button>
                    </mat-toolbar>
                    <input
                      type="file"
                      id="fileInput"
                      (change)="selectFile($event)"
                      name="fileInput"
                    />
                  </div>
                </mat-form-field>
              </div>
              <div *ngIf="message" class="message">
                {{ message }}
              </div>
              <input type="button" value="Sample Sheet" class="btn-primary">
           </mat-card-content>
       </mat-card>
   </div>
   <div class="col-sm-2">
       
   </div>
   </div>
</div>
