<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <br>
            <mat-card>
                <mat-card-title> Forget Password</mat-card-title>
                <br>
                <mat-card-content>
                    <mat-form-field>
                        <input matInput type="email" placeholder="Enter you email" #email required>
                        </mat-form-field>
                      &nbsp;  <input type="button" value="Submit" class="btn-primary" (click)="forgetPassword(email.value)"> 
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
